@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&display&family=Ubuntu=swap");
/* css reset */
* {
  box-sizing: border-box;
  /* 這段是讓容器方便算，不會累加 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

/* 重置字體 */
body {
  /* 需要""的字體名稱: 二個英文單字含空格、中文字體名稱
  不需要""的字體名稱有:一個單字、有-隔開 */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  display: block;
  color: var(--neutral-600);
  text-decoration: none;
  /* 元素本身，建議不要設在偽類別上 */
  /* 設定在偽類別上滑鼠未停留時，效果不會運行 */
  transition: 0.4s;
}

/* reset end */
#contactform .btn-animate {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

#topbar {
  display: flex !important;
  justify-content: space-between;
}

#topbar ul {
  display: flex !important;
  justify-content: flex-end;
}

#contactform .btn-animate {
  border-radius: 99px;
  height: 60px;
  width: 210px;
  cursor: pointer;
  margin: 20px auto;
  border: 1px #cdaaab;
  letter-spacing: 15px;
  padding-left: 15px;
}
#contactform .btn-animate:hover {
  animation: rotate 0.75s both;
}
#contactform .btn-animate:hover span {
  animation: storm 0.75s both;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* translate3d */
.btn-animate:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
@font-face {
  font-family: SuperMario256;
  src: url(../webfonts/SuperMario256.ttf);
}
/* ---------共用區---------- */
.title {
  margin: 110px 0 30px;
}
.title * {
  text-align: center;
}
.title h2 {
  font-family: "Rosaline, serif";
  font-size: 2rem;
  border-bottom: solid 3px #393a3a;
}
.title h3 {
  font-family: "LXGW Wenkai TC, cursive";
  font-size: 1.2rem;
  font-weight: 700;
}

.logo {
  width: 55px;
}

.icon a {
  width: 35px;
  height: 35px;
  margin: 5px;
}

.icon-fb {
  background-image: url(../images/icon-fb.svg);
}
.icon-fb:hover {
  background-image: url(../images/icon-fb-hover.svg);
}

.icon-ig {
  background-image: url(../images/icon-ig.svg);
}
.icon-ig:hover {
  background-image: url(../images/icon-ig-hover.svg);
}

.icon-line {
  background-image: url(../images/icon-line.svg);
}
.icon-line:hover {
  background-image: url(../images/icon-line-hover.svg);
}

#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  padding: 10px 30px;
}
#topbar .menu {
  padding: 0 10px;
  border-radius: 99px;
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.7));
  border: 2px rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  box-shadow: 2px 2px 5px var(rgba(0, 0, 0, 0.2)), inset -1px -1px 1px var(rgba(255, 255, 255, 0.4));
}
#topbar .menu a {
  font-family: "Morgan";
  font-weight: 700;
  border-bottom: solid 2px transparent;
}
#topbar .menu a:hover {
  border-bottom: solid 2px #0a0a0a;
}