@use "../variables/" as *;
@mixin border-b($width:3px,$color:$Charcoal) {
    border-bottom: solid $width $color;
}

@mixin bordered($width:1px,$color:$lesser-3) {
    border: $width $color;
}

@mixin amt ($name,$speed:.75s) {
    animation: $name $speed both;
}

@mixin glassmorphism {
     background-image: linear-gradient(to bottom right, $alpha-w-40,$alpha-w-70);
    // border: 2px solid var(--alpha-w-40);
    @include bordered($width: 2px,$color:$alpha-w-40 );
    backdrop-filter: blur(20px);
    box-shadow: 2px 2px 5px rgba($Black,$alpha-20),
        inset -1px -1px 1px $alpha-w-40;
}