// color
$primary: #79ccff;
$mode-dark: #4d4d4d;
$mode-light: #f4f4f4;

// Neutral colors: 中性色

$white: #fff;
$Light: #f2f7fa;
$Light-gray: #e7ebee;
$Gray: #c8cacc;
$Dark-Gray: #a9acad;
$Deep-gray: #828486;
$dark: #666;
$deep: #444;
$Charcoal: #393a3a;
$Black: #0a0a0a;

// background
$bg-1: #F2EDF0;
$bg-2: #e6ece5;
$bg-3: #ecf0f4;

// 輔助
$lesser-1: #f3e4e4;
$lesser-2: #efdbdb;
$lesser-3: #cdaaab;
$lesser-4: #8F6B6D;
// apha
$alpha-w-20: rgba(255, 255, 255, 0.2);
$alpha-w-40: rgba(255, 255, 255, .4);
$alpha-w-70: rgba(255, 255, 255, .7);

$alpha-b-20: rgba(0, 0, 0, 0.2);

$alpha-20: 0.2;
$alpha-30: 0.3;
$alpha-40: 0.4;
$alpha-50: 0.5;
$alpha-60: 0.6;
$alpha-70: 0.7;
$alpha-80: 0.8;
$alpha-90: 0.9;

