

// Spacing
$spacing-sm: 15px;
$spacing-md: 20px;
$spacing-lg: 25px;
$spacing-xxs: 5px;
$spacing-xs: 10px;
$spacing-xl: 30px;
$spacing-ex: 110px;

$spacing-x-xs: 0 10px;
$spacing-x-sm: 0 15px;
$spacing-x-md: 0 20px;
$spacing-x-lg: 0 25px;
$spacing-x-xl: 0 30px;

$spacing-y-sm: 10px 0;
$spacing-y-md: 15px 0;
$spacing-y-lg: 20px 0;
$spacing-y-xl: 30px 0;


// $spacer: 1rem !default;
// $spacers: (
//   0: 0,
//   1: $spacer * .25,
//   2: $spacer * .5,
//   3: $spacer,
//   4: $spacer * 1.5,
//   5: $spacer * 3,
// ) !default;

// radius
$radius-sm: 6px;
$radius-md: 12px;
$radius-lg: 24px;
$radius-ex: 99px;

// boostrap-radius
// $border-radius:               .375rem;
// $border-radius-sm:            .25rem;
// $border-radius-lg:            .5rem;
// $border-radius-xl:            1rem;
// $border-radius-xxl:           2rem;
// $border-radius-pill:          50rem;

// width
$w-100: 100%;
$w-90: 90%;
$w-80: 80%;